<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button title="Raffraichir" (click)="refresh()">
        <fa-icon [icon]="faRotateRight"></fa-icon>
      </button>
      <button routerLink="add" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button
        title="Supprimer"
        [hidden]="selectedArticles.size === 0"
        (click)="remove()"
      >
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </nav>
    <table aria-label="Liste des articles">
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let a of articleService.articles"
          (click)="toggle(a)"
          [class.selected]="selectedArticles.has(a)"
        >
          <td class="name">{{ a.name | ellipsis: 13 }}</td>
          <td class="price">{{ a.price | currency: "EUR" }}</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
