div.content {
  display: flex;
  flex-flow: column;
  align-items: start;
  nav {
    display: flex;
    gap: 0.3em;
  }

  div.error {
    height: 2em;
    font-weight: bold;
  }

  table {
    border: 0.1em solid #bbb;
    thead {
      background-color: #bbb;
    }
    td,
    th {
      padding: 0.5em 1em;
    }

    tbody {
      cursor: pointer;
      tr:nth-child(even) {
        background-color: #eee;
      }

      tr:hover {
        background-color: #ddd;
      }

      tr.selected {
        background-color: #ccc;
      }
    }
  }
}
