<main>
  <h1>Liste des articles</h1>

  <div class="content">
    <nav>
      <button>Refresh</button>
      <button>Ajouter</button>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.23 €</td>
          <td class="qty">457</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.23 €</td>
          <td class="qty">457</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.23 €</td>
          <td class="qty">457</td>
        </tr>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">1.23 €</td>
          <td class="qty">457</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
