<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input
        type="text"
        formControlName="name"
        placeholder="Ex: Tournevis"
        appAutofocus="select"
      />
    </label>
    <label>
      <div>Prix</div>
      <input type="number" formControlName="price" step="0.01" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" formControlName="qty" />
    </label>
    <button [disabled]="f.invalid" class="primary">Ajouter</button>
  </form>
</main>
