<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa minima illo,
    dolorum rem explicabo magni necessitatibus! Iure ab eaque, exercitationem
    officia, ea, cupiditate fugit perspiciatis saepe aperiam labore repellat
    unde?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem velit ipsa,
    dolores autem dolor adipisci quasi vero repellendus doloribus modi odio sit
    asperiores, tempore ullam odit iste quaerat quas unde. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Nihil a dolores quos exercitationem
    natus illum fugiat placeat quisquam, autem odit soluta architecto non
    veritatis esse veniam nobis porro libero beatae!
  </p>
</main>
